// 主色调
@primary-color: #0066ff;
@primary-font-size: 14px;

// 正文色调
@content-background: #fff;
@content-color: #222;
@content-font-size: 14px;

// 辅色调
@help-background: #f5f5f5;
@help-color: #999;
@help-font-size: 12px;

// 相关间距
@padding-x: 16px;
@padding-y: 12px;
@margin-x: 12px;
@margin-y: 16px;

// border
@border-radius: 2px;
@border-color: #e3e3e3;

// disabled
@disabled-color: #ddd;

// layout
@layout-header-font-size: 18px;
@layout-padding-x: @padding-x;
@layout-padding-y: @padding-y;

// tab
@tab-header-background: @help-background;
@tab-header-height: 40px;
@tab-vertical-header-height: 30px;
@tab-vertical-header-width: 80px;
@tab-padding-x: @padding-x;
@tab-padding-y: @padding-y;
@tab-title-color: @help-color;
@tab-gap: (@padding-x / 2);