@import '@/theme/variable.less';

.pila-header {
  position: relative;
  background: white;

  &.pila-header--has-desc {
    .pila-header_head {
      padding: @layout-padding-y @layout-padding-x 0;
    }
  }

  .pila-header_head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: @layout-padding-y @layout-padding-x;
    box-sizing: border-box;
  }

  .pila-header_desc {
    font-size: @help-font-size;
    padding: (@layout-padding-y / 2) @layout-padding-x @layout-padding-y;
    color: @help-color;
    box-sizing: border-box;
  }
}

.pila-header_title {
  display: flex;
  flex-direction: row;
  gap: (@layout-padding-y / 2) (@layout-padding-x / 2);
  align-items: center;

  .pila-header_label {
    font-weight: 400;
    font-size: @layout-header-font-size;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.pila-header_action {
  display: flex;
  flex-direction: row;
  gap: (@layout-padding-y / 2) (@layout-padding-x / 2);
}