.fixed-auto() {
  &--fixed-auto {
    height: 100%;

    .pila-layout {
      &__container {
        height: 100%;
      }
      &__content {
        height: 100%;
        overflow: auto;
      }
    }
  }
}

.fixed-fixed() {
  &--fixed-fixed {
    height: 100%;

    .pila-layout {
      &__container {
        height: 100%;
      }
    
      &__content {
        flex: 1 1 auto;
        height: 0;
      }
    
      &__main {
        overflow: auto;
      }
    }
  }
}

.pila-layout {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__content {
    display: flex;
    flex-direction: row;
  }

  &__main {
    flex: 1 1 auto;
  }

  .fixed-auto();
  .fixed-fixed();
}
