@import '@/theme/variable.less';
@import '@/theme/mixins.less';

.vertical() {
  &--vertical {
    flex-direction: row;

    .pila-tabs {
      &__wrapper {
        flex-direction: column;
        width: @tab-vertical-header-width;
        height: auto;
        padding: @tab-padding-y 0;
      }

      &__list {
        flex-direction: column;
        width:100%;
      }

      &__action {
        margin: (@tab-padding-y / 2) 0;
        padding: 0 (@tab-padding-x / 2);
        flex-direction: column;
        width: 100%;
      }

      &__tab {
        height: @tab-vertical-header-height;

        &[aria-selected=true] {
          &::after {
            left: unset;
            bottom: unset;
            right: 0;
            top: 0;
            width: 2px;
            height: 100%;
          }
        }
      }

      &__prev,
      &__next {
        left: 0;
        height: @tab-padding-x;
        width: 100%;
      }

      &__prev {
        top: 0;
      }

      &__next {
        top: unset;
        bottom: 0;
      }

      &__left {
        &::before {
          transform: rotate(-45deg);
          margin: 4px 0 0 0;
        }
      }

      &__right {
        &::before {
          transform: rotate(135deg);
          margin: 0 0 4px 0;
        }
      }
    }
  }
}

.tab-selected() {
  &[aria-selected=true] {
    color: @content-color;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      display: inline-block;
      width: 100%;
      height: 2px;
      background: @content-color;
    }

    &[aria-disabled=true] {
      color: @disabled-color;
      &::after {
        background: @disabled-color;
      }
    }
  }
}

.tab-disabled() {
  &[aria-disabled=true] {
    cursor: default;
    color: @disabled-color;
  }
}

.pila-tabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    height: @tab-header-height + 4px;
    padding: 0 @tab-padding-x;
    box-sizing: border-box;
    background: @tab-header-background;
    flex: 0 0 auto;
  }

  &__list {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: @tab-gap;
    padding: 2px;
    overflow: hidden;
    flex: 1 1 auto;
    box-sizing: border-box;
  }

  &__action {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 0 auto;
    gap: (@tab-padding-y / 2) (@tab-padding-x / 2);
    margin: 0 (@tab-padding-x / 2);
    box-sizing: border-box;
  }

  &__panels {
    flex: 1 1 auto;
  }

  &__next,
  &__prev {
    position: absolute;
    top: 0;
    width: @tab-padding-x;
    height: 100%;
    padding: 2px;
    box-sizing: border-box;
  }

  &__prev {
    left: 0;
  }

  &__next {
    right: 0;
  }

  &__left,
  &__right {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &[aria-hidden=true] {
      display: none;
    }

    &::before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      border: 2px solid @content-color;
      border-color: @tab-title-color;
      border-left-width: 0;
      border-bottom-width: 0;
    }

    &:hover {
      &::before {
        border-color: @content-color;
      }
    }

    .focus-visible();
  }

  &__left {
    &::before {
      transform: rotate(-135deg);
      margin: 0 0 0 4px;
    }
  }

  &__right {
    &::before {
      transform: rotate(45deg);
      margin: 0 4px 0 0;;
    }
  }

  &__tab {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: @tab-header-height;
    box-sizing: border-box;
    color: @tab-title-color;
    cursor: pointer;
    padding: 0 (@tab-padding-x / 2);
    box-sizing: border-box;
    flex: 0 0 auto;

    .focus-visible();
    .tab-selected();
    .tab-disabled();
  }

  &__title {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__panel {
    &[aria-hidden=true] {
      display: none;
    }

    .focus-visible();
  }

  .vertical();
}
